html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #992525; */
    /* position: relative; */
    overflow: hidden;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
canvas {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 1; Positioned behind the Lottie animation */
}
dotlottie-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
     /* Adjust max-width as needed */
    height: auto;
    z-index: 2; /* Positioned on top of the canvas */
}
#score {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  font-weight: 900;
}
#game {
    border: 2px solid black;
}
#introduction {
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

/* #restart {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  cursor: pointer;

  transform: translate(-50%, -50%);
    text-decoration: none;
    background: #262626;
    transition: 0.5;
} */

#restart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    text-transform: uppercase;
    background: #262626;
    width: 150px;
    height: 60px;
    line-height: 60px;
    color: #FFF;
    border-radius: 10px;
    padding: 0px 10px;
    letter-spacing: 5px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    transition: 0.5;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#restart:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    /*    background: #F00;*/
    z-index: -1;
    transition: 1s;
    border-style: solid;
    border-color: #F00;
    border-width: 80px 100px;
    transform: rotate(360deg);
    transform-origin: top left
}

#restart:hover:before {
    border-color: #00F;
    transform: rotate(40deg)
}

a:hover {
    color: #ff0;
    transition: 0.5s;
    transition-delay: 0.3s;
}

#perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}

dotlottie-player {
    width: 100%;
    /* Max width for larger screens */
    height: auto;}

/* Media Query for devices with max-width 480px */
@media (max-width: 480px) {
    #score {
      font-size: 1.5em;
      top: 10px;
      right: 10px;
    }
  
    #introduction {
      width: 150px;
      height: 100px;
      font-size: 0.7em;
    }
  
    #restart {
      width: 120px;
      height: 60px;
      font-size: 1em;
    }
  
    .container {
      flex-direction: column;
    }


    dotlottie-player {
        /* max-width: 400px; Adjust size for smaller screens */
        width: 100%; /* Ensure it takes full width */
        height: auto; /* Maintain aspect ratio */
        
    }

  }

